<div class="footer">
    <ul class="row">
        <li class="col-md-2">
            <p><strong>Công ty</strong></p>
            <p><a href="#" class="text-muted">Giới thiệu</a></p>
            <p><a href="#" class="text-muted">Việc làm</a></p>
            <p><a href="#" class="text-muted">For the Record</a></p>           
        </li>
        <li class="col-md-2">
            <p><strong>Cộng đồng</strong></p>
            <p> <a href="#" class="text-muted">Dành cho các Nghệ sĩ</a></p>
            <p><a href="#" class="text-muted">Nhà phát triển</a></p>
            <p><a href="#" class="text-muted">Quảng cáo</a></p>
            <p> <a href="#" class="text-muted">Nhà đầu tư</a></p>
            <p><a href="#" class="text-muted">Nhà cung cấp</a></p>
        </li>
        <li class="col-md-3">
            <p><strong>Liên kết hữu ích</strong></p>
            <p><a href="#" class="text-muted">Hỗ trợ</a></p>
            <p> <a href="#" class="text-muted">Ứng dụng Di động Miễn phí</a></p>           
        </li>
        <li class="col-md-2">
            <p><strong>Các gói của Spotify</strong></p>
            <p><a href="#" class="text-muted">Premium Individual</a></p>
            <p><a href="#" class="text-muted">Premium Student</a></p>
            <p><a href="#" class="text-muted">Spotify Free</a></p>
        </li>
        <li class="col-md-3 ">
            <div class="social d-flex justify-content-end">
                <a class="dark-light-bg rounded-circle d-flex justify-content-center align-items-center" href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="dark-light-bg rounded-circle d-flex justify-content-center align-items-center" href="#" target="_blank"><i class="fab fa-tiktok"></i></a>
                <a class="dark-light-bg rounded-circle d-flex justify-content-center align-items-center" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            </div>
        </li>
    </ul>
</div>