<div class="row">
    <div class="col-12 p-4 mr-md-2 bd-rd mb-md-3 small-black-bg">
        <ul class="header">
            <li class="logo-brand mb-md-2"><i class="fa-brands fa-spotify text-white me-1"></i><strong>Spotify</strong></li>
            <li class="home mb-md-2"><a href="#" title="Trang chủ"><i class="fa-solid fa-house me-3"></i><strong>Home</strong></a></li>
            <li class="search mb-md-2 "><a class="text-muted" title="Tìm kiếm" href="#"><i class="fas fa-search me-3"></i><strong>Search</strong></a></li>
        </ul>
    </div>
    <div class="col-12 p-1 mr-md-2 bd-rd small-black-bg">
        <ul>
            <li class="library text-muted mb-md-3 p-3 d-flex justify-content-between">
                <div><i class="fas fa-book me-2"></i><strong title="Thu gọn thư viện">Thư viện</strong></div>
                <div> <i title="Tạo danh sách phát hoặc thư mục" class="fas fa-plus"></i></div>
            </li>
            <li class="add-playlist mb-md-3">
                <div class="dark-light-bg p-3 bd-rd mb-md-3">
                    <strong>Tạo danh sách phát đầu tiên của bạn</strong>
                    <p>Rất dễ! Chúng tôi sẽ giúp bạn</p>
                    <button class="btn bg-white text-dark px-2 py-1"><strong>Tạo danh sách phát</strong></button>
                </div>
                <div class="dark-light-bg p-3 bd-rd">
                    <strong>Hãy cùng tìm và theo dõi một số podcast</strong>
                    <p>Chúng tôi sẽ cập nhật cho bạn thông tin về các tập mới</p>
                    <button class="btn bg-white text-dark py-1 px-2"><strong>Duyệt xem podcast</strong></button>
                </div>
            </li>
            <li class="policy p-3 mb-md-3">
                <a class="me-2 mb-2 text-muted" title="Pháp lý" href="#">Pháp lý</a>
                <a class="me-2 mb-2 text-muted" title="Trung tâm an toàn và quyền riêng tư" href="#">Trung tâm an toàn và quyền riêng tư</a>
                <a class="me-2 mb-2 text-muted" title="Chính sách quyền riêng tư" href="#">Chính sách quyền riêng tư</a>
                <a class="me-2 mb-2 text-muted" title="Cookie" href="#">Cookie</a>
                <a class="me-2 mb-2 text-muted" title="Giới thiệu Quảng cáo" href="#">Giới thiệu Quảng cáo</a>
                <a class="me-2 mb-2 text-muted" title="Hỗ trợ tiếp cận" href="#">Hỗ trợ tiếp cận</a>
            </li>
            <li class="language p-3">
                <button class="btn text-white border small-black-bg border-light py-1 px-2"><i class="fa-solid fa-globe me-1"></i><strong>Tiếng Việt</strong></button>
            </li>
        </ul>
    </div>

</div>