@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bd-rd overflow-hidden">
    <div class="content">
        <div class="top-header d-flex justify-content-between small-black-bg">
            <div class="arrow d-flex">
                <span class="align-items-center rounded-circle bg-black ">
                    <i class="fas fa-chevron-left text-muted"></i>
                </span>
                <span class="align-items-center rounded-circle bg-black">
                    <i class="fas fa-chevron-right text-muted"></i>
                </span>
            </div>
            <div class="btn-sisu d-flex align-items-center">
                <a href="#" class="btn-signup text-muted small-black-bg me-3">Đăng kí</a>
                <a href="#" class="btn-signin btn text-dark bg-white px-4 py-2">Đăng nhập</a>
            </div>
        </div>
        <div class="content-main ">
            <div class="artist mb-md-3">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="title"><a title="Nghệ sĩ phổ biến" href="#">Nghệ sĩ phổ biến</a></h3>
                    <a class="text-muted fs-6 show" href="#">Hiện tất cả</a>
                </div>
                <div class="info-post row">
                    <div class="col-md-2 pt-3">
                        <a href="#" class="post-content">
                            <div class="post-img">
                                <img class="img-fluid rounded-circle" src="~/Assets/Image/SonTungMTP.jpg" alt="Sơn Tùng MTP" />
                                <div class="play-btn rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fas fa-play text-dark"></i>
                                </div>
                            </div>
                            <div class="post-info text-left">
                                <h5 class="mb-2">Sơn Tùng MTP</h5>
                                <p class="text-muted ">Nghệ sĩ</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 pt-3">
                        <a href="#" class="post-content">
                            <div class="post-img">
                                <img class="img-fluid rounded-circle" src="~/Assets/Image/HieuThuHai.jpg" alt="Hiếu thứ 2" />
                                <div class="play-btn rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fas fa-play text-dark"></i>
                                </div>
                            </div>
                            <div class="post-info text-left">
                                <h5 class="mb-2">HIEUTHUHAI</h5>
                                <p class="text-muted ">Nghệ sĩ</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 pt-3">
                        <a href="#" class="post-content">
                            <div class="post-img rounded-circle">
                                <img class="img-fluid rounded-circle" src="~/Assets/Image/GreyD.jpg" alt="Grey D" />
                                <div class="play-btn rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fas fa-play text-dark"></i>
                                </div>
                            </div>
                            <div class="post-info text-left">
                                <h5 class="mb-2">Grey D</h5>
                                <p class="text-muted ">Nghệ sĩ</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 pt-3">
                        <a href="#" class="post-content">
                            <div class="post-img">
                                <img class="img-fluid rounded-circle" src="~/Assets/Image/WreanEvan.jpg" alt="Evans" />
                                <div class="play-btn rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fas fa-play text-dark"></i>
                                </div>
                            </div>
                            <div class="post-info text-left">
                                <h5 class="mb-2">Wren Evans</h5>
                                <p class="text-muted ">Nghệ sĩ</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 pt-3">
                        <a href="#" class="post-content">
                            <div class="post-img">
                                <img class="img-fluid rounded-circle" src="~/Assets/Image/WN.jpg" alt="W/N" />
                                <div class="play-btn rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fas fa-play text-dark"></i>
                                </div>
                            </div>
                            <div class="post-info text-left">
                                <h5 class="mb-2">W/N</h5>
                                <p class="text-muted ">Nghệ sĩ</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 pt-3">
                        <a href="#" class="post-content">
                            <div class="post-img">
                                <img class="img-fluid rounded-circle" src="~/Assets/Image/DaLab.jpg" alt="Da Lab" />
                                <div class="play-btn rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fas fa-play text-dark"></i>
                                </div>
                            </div>
                            <div class="post-info text-left">
                                <h5 class="mb-2">Da Lab</h5>
                                <p class="text-muted ">Nghệ sĩ</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="album mb-md-3">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="title"><a title="Nghệ sĩ phổ biến" href="#">Album phổ biến</a></h3>
                    <a class="text-muted fs-6 show" href="#">Hiện tất cả</a>
                </div>
                <div class="info-post row">
                    <div class="col-md-2 pt-3">
                        <a href="#" class="post-content">
                            <div class="post-img">
                                <img class="img-fluid rounded" src="~/Assets/Image/Golden.jfif" alt="GOLDEN" />
                                <div class="play-btn rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fas fa-play text-dark"></i>
                                </div>
                            </div>
                            <div class="post-info text-left">
                                <h5 class="mb-2">GOLDEN</h5>
                                <p class="text-muted ">Jung Kook</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 pt-3">
                        <a href="#" class="post-content">
                            <div class="post-img">
                                <img class="img-fluid rounded" src="~/Assets/Image/Muse.jfif" alt="MUSE" />
                                <div class="play-btn rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fas fa-play text-dark"></i>
                                </div>
                            </div>
                            <div class="post-info text-left">
                                <h5 class="mb-2">MUSE</h5>
                                <p class="text-muted ">Jimin</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 pt-3">
                        <a href="#" class="post-content">
                            <div class="post-img rounded-circle">
                                <img class="img-fluid rounded" src="~/Assets/Image/AiCungBatDauTuDo.jfif" alt="Ai Cũng Phải Bắt Đầu Từ Đâu Đó" />
                                <div class="play-btn rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fas fa-play text-dark"></i>
                                </div>
                            </div>
                            <div class="post-info text-left">
                                <h5 class="mb-2">Ai Cũng Phải Bắt Đầu Từ Đâu Đó</h5>
                                <p class="text-muted ">HIEUTHUHAI</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 pt-3">
                        <a href="#" class="post-content">
                            <div class="post-img">
                                <img class="img-fluid rounded" src="~/Assets/Image/DungLamTraiTimAnhDau.jfif" alt="Đừng Làm Trái Tim Anh Đau" />
                                <div class="play-btn rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fas fa-play text-dark"></i>
                                </div>
                            </div>
                            <div class="post-info text-left">
                                <h5 class="mb-2">Đừng Làm Trái Tim Anh Đau</h5>
                                <p class="text-muted ">Sơn Tùng M-TP</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 pt-3">
                        <a href="#" class="post-content">
                            <div class="post-img">
                                <img class="img-fluid rounded" src="~/Assets/Image/Muse.jfif" alt="Smeraldo Garden Marching Band (feat. Loco)" />
                                <div class="play-btn rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fas fa-play text-dark"></i>
                                </div>
                            </div>
                            <div class="post-info text-left">
                                <h5 class="mb-2">Smeraldo Garden Marching Band (feat. Loco)</h5>
                                <p class="text-muted ">Jimin, Loco</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 pt-3">
                        <a href="#" class="post-content">
                            <div class="post-img">
                                <img class="img-fluid rounded" src="~/Assets/Image/MCK.jfif" alt="99%" />
                                <div class="play-btn rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="fas fa-play text-dark"></i>
                                </div>
                            </div>
                            <div class="post-info text-left">
                                <h5 class="mb-2">99%</h5>
                                <p class="text-muted ">RPT MCK</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            @Html.Partial("Footer")
        </div>


    </div>
</div>
